<center>


<a href="/"><button class="bn632-hover bn26">ツイート</button></a>
<a href="/"><button class="bn632-hover bn26">ツイートと返信</button></a>
<a href="/"><button class="bn632-hover bn26">メディア</button></a>
<a href="/"><button class="bn632-hover bn26">いいね</button></a>

</a>
<br>
<br>
<br>
<br>
</center>